.Showcase-img {
  background-color: var(--bg-color);
  background-image: url('https://raw.githubusercontent.com/WraithWinterly/wraithwinterly.github.io/fetch/everplast.png');
  background-position-x: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: background-position 0.4s; */
  transition-timing-function: ease-out;
}

.Showcase-button-container {
  display: flex;
}

.Showcase-text {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .Showcase-button-container {
    padding: 0;
    flex-direction: column;
  }
}
