.ShowcaseCard {
  background-color: var(--header-color);
  width: 480px;
  /* height: fit-content; */
  padding: 0px 26px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.ShowcaseCard-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px
}

.ShowcaseCard-image {
  object-position: center;
  height: 274px;
  width: 274px;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .ShowcaseCard {
    max-width: 300px;
  }

  .ShowcaseCard-content {
    flex-direction: column-reverse;
    gap: 15px;
  }
}