.SkillsIcon {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px;
  margin-left: 28px;
  margin-right: 28px;
  transition: transform 0.2s;
}

.SkillsIcon:hover {
  transform: scale(150%);
}

.SkillsIcon-img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
}

.SkillsIcon-name {
  transition: margin-top 0.175s;
}