.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Skills-icons-container {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
  flex-wrap: wrap;
  justify-content: end;
  align-self: end;
  margin: 0px 24px;
  max-width: 700px;
}

@media (max-width: 800px) {
  .Skills-icons-container {
    grid-template-columns: 170px 170px 170px;
  }
}