html {
  scroll-behavior: smooth;

}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App-content {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  z-index: 1;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accent-color {
  color: $accent-color;
}

.accent-bg-color {
  background-color: $accent-color;
}

.secondary-color {
  color: $text-secondary-color;
}

.secondary-bg-color {
  background-color: $text-secondary-color;
}