$github-color: #6e5494;
$twitter-color: rgb(29, 155, 240);
$linkedin-color: rgb(10, 102, 194);
$steam-color: #1b2838;

.button {
  background-color: $accent-color-dark;
  color: white;
  border-radius: 15px;
  padding: 10px 18px;
  padding-bottom: 12px;
  margin: 8px 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 525;
  white-space: nowrap;
  transition: color 0.2s, background-color 0.2s;

  &:hover {
    color: $accent-color-dark;
    background-color: white;
  }

  &#{&}.lg {
    padding: 12px 36px;
    padding-bottom: 18px;
    font-size: 1.2rem;
  }

  &#{&}.github {
    background-color: $github-color;

    color: white;

    &:hover {
      background-color: white;
      color: $github-color;
    }
  }

  &#{&}.twitter {
    background-color: $twitter-color;
    color: white;

    &:hover {
      background-color: white;
      color: $twitter-color;
    }
  }

  &#{&}.linkedin {
    background-color: $linkedin-color;
    color: white;

    &:hover {
      background-color: white;
      color: $linkedin-color;
    }
  }

  &#{&}.steam {
    background-color: $steam-color;
    color: white;

    &:hover {
      background-color: white;
      color: $steam-color;
    }
  }
}