.everplast {
  background-color: $bg-color;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: 1px solid red;
  align-items: center;
  position: relative;
  //border: 4px solid $bg-color;
  margin: 0px;

  .buttons {
    display: flex;


    @media(max-width: $low-width) {
      padding: 0px 0px;
      flex-direction: column;
    }

  }

  h1 {
    font-size: 3rem;
  }
}