.Header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 10;

  @media (max-width: $phone-width) {
    padding: 4px 6px;
  }

  .wraith-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px 8px;
    text-decoration: none;
    transition: background-color 0.2s;

    color: $accent-color;



    .wraith-text {
      padding-left: 16px;
      font-size: 1.2rem;
    }

    .pfp {
      height: 50px;
      border-radius: 50%;
    }

    &:hover {
      background-color: $hover-color;
    }
  }



  ul {
    display: flex;
    padding: 0px 40px;
    list-style-type: none;
  }

  li a {
    color: $text-secondary-color;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 1.25rem;
    white-space: nowrap;
    transition: color 0.2s;


    &:hover {
      color: $accent-color;
    }
  }

}