.Header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -4px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;

  .Header--top {
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
  }

  .subheader {
    left: 0;
    right: 0;
    height: 100%;
    position: relative;
    opacity: 0;
    background-color: red;

  }

  .subheader-button {

    &:focus-within,
    &:hover {
      border: 1px solid red;
    }
  }



  @media (max-width: $low-width) {
    padding: 4px 6px;
  }

  @media (max-height: $low-height) {
    position: relative;
    height: fit-content;
    z-index: 2;
  }

  .wraith-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px 8px;
    text-decoration: none;
    transition: background-color 0.2s;

    color: $accent-color;

    .wraith-text {
      padding-left: 16px;
      font-size: 1.2rem;
    }

    .pfp {
      height: 50px;
      border-radius: 50%;
    }

    &:hover {
      background-color: $hover-color;
    }
  }

  .header-buttons {
    display: flex;
    padding: 0px 40px;

    a {
      color: $text-secondary-color;
      margin: 0px 10px;
      text-decoration: none;
      font-size: 1.25rem;
      white-space: nowrap;
      transition: color 0.2s;

      &:hover {
        color: $accent-color;
      }
    }

  }
}