$header-color: #20232a;
$bg-color: #282c34;
$text-primary-color: white;
$text-secondary-color: lightgray;
$accent-color: #61dafb;
$accent-color-dark: rgb(0, 123, 255);
$hover-color: rgb(1, 1, 1, 0.2);

$low-width: 768px;
$low-height: 500px;