.Footer {
  background-color: var(--header-color);
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: var(--text-color-light);
}

.Footer p {
  margin: 0;
}

.Footer a {
  text-decoration: none;
  transition: color 0.2s;
  color: var(--text-color);
}

.Footer a:hover {
  color: var(--accent-color)
}

.Footer hr {
  background-color: var(--text-color-light);
  border: none;
  padding-top: 1px;
  width: 94%;
}

.Footer-copyright {
  color: white;
}

.Footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  max-width: 1200px;
  flex-wrap: wrap;
  row-gap: 44px;
}

.Footer-container-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
}

.Footer-container-top-item {
  width: 94%;
}

.Footer-container-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 400px;
}

.Footer-container-column-center {
  justify-content: center;
}

@media (max-width: 768px) {
  .Footer-container {
    flex-direction: column;
  }

  .Footer-container-column {
    width: 300px;
  }
}

@media (max-width: 1216px) {
  #footer-mid {
    order: 2;
  }
}