:root {
  --header-color: rgb(32, 35, 42);
  --header-color-opacity: rgb(32, 35, 42, 0.8);
  --bg-color: rgb(40, 44, 52);
  --accent-color: rgb(97, 218, 251);
  --accent-color2: rgb(0, 123, 255);
  --hover-color: rgba(1, 1, 1, 0.2);

  --text-color: white;
  --text-color-light: lightgray;

  --github-color: rgb(110, 84, 148);
  --twitter-color: rgb(29, 155, 240);
  --linkedin-color: rgb(10, 102, 194);
  --steam-color: rgb(27, 40, 56);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.accent-color {
  color: var(--accent-color);
}

.accent-bg-color {
  background-color: var(--accent-color);
}

.text-color-light {
  color: var(--text-color-light);
}